################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library App/Library App/bin/Debug/net9.0-android
/Library App/Library App/obj
/Library App/.vs
/.vs
/Library App/LibraryAPI/bin/Debug/net8.0
/Library App/LibraryAPI/obj
/Library App/Library App/bin/Debug
